.searchbar {
  margin: 1rem;
}

#search,
#searchButton {
  margin-left: auto;
  margin-right: auto;
}

#search {
  margin-top: auto;
  margin-bottom: auto;
}
.search-field {
  width: 0;
  height: 40px;
  margin-left: 1rem;
  padding: 0;
  border-radius: 50px;
  border: none;
  transition: all 0.5s ease;
}

.expand-search {
  width: 80%;
  max-width: calc(80% - 3rem);
  border: 1px solid #c9c9c9;
  padding: 0.5rem;
}

svg {
  width: 20px;
  height: 20px;
}

.button {
  border-radius: 50px;
  background-color: rgb(125, 136, 210) !important;
  /* transition-duration: 0.4s; */
}
/* 
.button:hover {
  background-color: rgb(112, 154, 57);
}

.button:active {
  background-color: rgb(112, 154, 57);
  transform: translateY(4px);
} */

.imageresults {
  text-align: center;
  margin: 10px;
}

#dump {
  min-height: 300px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.heart {
  height: 40px;
  width: 40px;
  position: relative;
  top: 2px;
  left: 175px;
}
